<h1>KAIROS EDUCATION</h1>

	<div class="w3layoutscontaineragileits">
	<h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
			<input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
			<ul class="agileinfotickwthree">
				<li>
					<input type="checkbox" id="brand1" value="">
					<label for="brand1"><span></span>Remember me</label>
					<a href="#">Forgot password?</a>
				</li>
			</ul>
			<div class="aitssendbuttonw3ls">
				<button value="LOGIN">LOGIN</button>
				<p><a routerLink="/register" class="w3_play_icon1">Register</a></p>
				<div class="clear"></div>
			</div>
		</form>
	</div>

    <div class="w3footeragile">
        <p> &copy; 2021 KAIROS EDUCATION All Rights Reserved</p>
    </div>